:root {
  /* Fuente principal */
  --fuente-principal: "Roboto", sans-serif;

  /* Colores */
  --color-blanco: #ffffff;
  --color-blanco-bajo: #e1e8ef;
  --color-dorado: #ffcb64;
  --color-azul-oscuro: #020334;
  --color-azul-medio: #0a394d;
  --color-amarillo: #fbb715;
  --color-verde: #13a73c;
  --color-verde-claro: rgba(88, 192, 165, 0.8);
  --color-purpura: #8847d2;
  --color-purpura-80: rgba(136, 71, 210, 0.8);
  --color-gris-medio: #5a5d60;
  --color-azul-marino: #020334;
  --color-gris-oscuro: #323539;
  --color-gris-oscuro--description: #323539;
  --lavender-light: #babaff;
  --pale-pink: #f9dedc;
  --sky-blue-light: #b3def3;

  --color-gris-claro: #ccd2d8;
  --color-negro: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.logo {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.card__container,
.container__card,
.footer__Card__description,
.menu,
.navbar,
.navbar__container {
  display: flex;
}

.navbar__container {
  max-width: 730px;
  width: 100%;
  gap: 1%;
  justify-content: end;
  align-items: center;
}
.navbar {
  height: 69px;
  background-color: var(--color-azul-medio);
  width: 100%;
  padding: 2px 32px 2px 5%;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  z-index: 2;
  position: relative;
}

.menu {
  max-width: 487px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: var(--color-blanco);
  text-decoration: none;
  font-size: 1rem;
}

#login {
  color: var(--color-dorado);
}

.menu__sigin__button {
  max-width: 120px;
  width: 100%;
  height: 42px;
  background-color: var(--color-dorado);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu__burger {
  width: 30px;
  height: 30px;
  display: none;
}

section {
  margin-bottom: 5%;
}
/* speak with no limits */
.title__section {
  font-size: 2.36rem;
  margin-bottom: 5%;
}

.squares {
  position: absolute;
  animation: swing 4s ease infinite;
  z-index: 0;
  max-width: 507px;
  width: 100%;
  height: 505px;
  background: var(--color-purpura-80);
  border-radius: 25px;
  rotate: -8deg;
  margin-top: -32px;
  margin-left: -416px;
  z-index: 1;
}

.introduction__home {
  position: relative; /* Necesario para posicionar el cuadrado detrás del texto */
  display: inline-block;
  display: flex;
  justify-content: center;
}
.introduction__home img {
  margin-left: -5%;
}
.introduction__home__texts {
  position: relative;
  z-index: 1;
  max-width: 508px;
  width: 100%;
  height: auto;
  color: var(--color-blanco);
  z-index: 1;
  padding: 34px 120px;
}

.no__limits {
  color: var(--color-dorado);
}

.gift {
  background-color: var(--color-verde);
  border-radius: 12px;
  width: fit-content;
  padding: 2px 10px;
  max-width: 433px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gift img {
  width: 30px;
  height: 30px;
}

.introduction__question {
  font-size: 0.8rem;
}
.introduction__home__items__description img {
  width: 16px;
  height: 12px;
  padding: 1%;
}

li {
  list-style: none;
}

.introduction__question,
.introduction__home__items__description {
  margin-bottom: 5%;
}

.options {
  margin-bottom: 2%;
}

.student__img {
  animation: student 4s ease infinite;
  max-width: 594px;
  width: 100%;
  height: 568px;
  z-index: 0;
  margin-top: -74px;
  rotate: 7deg;
}

.square_green {
  position: absolute;
  max-width: 220px;
  width: 100%;
  height: 220px;
  background-color: var(--color-verde-claro);
  rotate: 45deg;
  position: absolute;
  animation: squaregreen 4s ease infinite;
  z-index: 1;
  border-radius: 25px;
  top: 246px;
}

/* Benefits */
.benefits {
  padding: 0.1px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__1 {
  margin-right: -38px;
  z-index: 10;
}

.item__2 {
  margin-left: -38px;
  z-index: 10;
}

img.conect_benefits {
  max-width: 218px;
  width: 100%;
  height: 179px;
}

.benefits__item {
  max-width: 300px;
  width: 100%;
  height: 300px;
}

.title_span {
  color: var(--color-verde);
}

.our_courses,
.who__are__we,
.help_you,
.why_us {
  text-align: center;
}

/* titulos secciones */

.help_you h2,
.why_us h1 {
  color: var(--color-gris-medio);
  margin: 40px 0;
  font-size: 2rem;
  font-weight: 800;
}

.who__are__we__speak h2,
.help_you h2,
.why_us h1 {
  color: var(--color-gris-oscuro);
  margin: 1% 0;
  font-size: 2rem;
  font-weight: 800;
}
/* Who we are */
.who__are__we__description {
  max-width: 600px;
  width: 100%;

  font-weight: 400;
  margin-bottom: 4%;
}

.who__are__we__speak ul li img {
  width: 16px;
  height: 16px;
}

.who__are__we__speak ul {
  font-size: 1.2rem;
}

.who__are__we__speak ul li {
  color: var(--color-verde);
  font-weight: 700;
}

.who__are__we__description {
  font-size: 1rem;
}

.who__are__we__container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
}

.who__are__we .teacher {
  margin-top: -3%;
  max-width: 304px;
  height: auto;
  width: 100%;
}

.who__are__we .tutor {
  max-width: 331px;
  height: 221px;
  width: 100%;
}

.amount_students {
  margin: auto;
  max-width: 287px;
  width: 100%;
  background-color: var(--color-gris-claro);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border-radius: 12px;
}

.container__img {
  display: flex; /* Usa Flexbox para alinear los elementos */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.who__are__we__speak {
  text-align: justify;
}

.who__are__we__speak h2 {
  font-size: 3rem;
  max-width: 624px;
  width: 100%;
}

.number__Students {
  color: var(--color-verde);
  font-size: 2rem;
  font-weight: 800;
}
/* help you */

.help_you {
  background-image: url("/assets/Group642.webp");
  background-size: contain; /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;
}

.help_you h2 {
  margin: 18px 0 90px 0;
}

.help_you__zigzag {
  margin-bottom: 27px;
}
/* Swipper */
.card__container {
  justify-content: center;
}

.card {
  background-color: var(--color-blanco);
  max-width: 612px;
  width: 100%;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.body__Card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  text-align: start;
  height: 100%;
}

.body__container {
  padding: 72px 50px 0 50px;
  margin: auto;
}

.container__card.body__card {
  text-align: start;
  font-size: 1.2rem;
  padding: 50px 50px 0 50px;
}
.container__card {
  justify-content: space-between;
  margin: 17px 0 38px 0;
  height: 237px;
}
.zigzag {
  max-width: 100px;
  width: 100%;
}

.title__card {
  text-align: start;
  font-size: 3rem;
  font-weight: 400;
}

.card__description {
  color: #979797;
  text-align: start;
  max-width: 220px;
  width: 100%;
}

.footer__card__container {
  display: flex;
  justify-content: center;
  padding: 23px 30px;
  border-bottom-left-radius: 26px;
}

.body__Card button {
  padding: 10px 35px;
  border-radius: 26px;
  border: none;
}

#first__card .footer__card__container {
  background-color: #fff9e8;
}

#second__card .footer__card__container {
  background-color: var(--lavender-light);
}

#third__card .footer__card__container {
  background-color: var(--pale-pink);
}
#fourth__card .footer__card__container {
  background-color: var(--sky-blue-light);
}
.cam__img {
  width: 50px;
  height: auto;
}
.chat__img {
  width: 35px;
  height: 35px;
}

.footer__Card__description__container {
  color: var(--color-gris-oscuro--description);
  font-size: 0.7rem;
}

.footer__Card__items {
  display: flex;
}

.book {
  max-width: 240px;
  width: 100%;
  height: auto;
  margin-top: -4%;
}

.img__card {
  max-height: 503px;
  height: 100%;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.all__courser__button {
  margin: 40px 0;
  background-color: var(--color-amarillo);
  border: none;
  padding: 15px 60px;
  border-radius: 26px;
  color: var(--color-blanco);
  font-size: 1.7rem;
  max-width: 450px;
  width: 100%;
}

#first__card .learn__more__button {
  background-color: var(--color-dorado);
}

#second__card .learn__more__button {
  background-color: #9747ff;
  color: var(--color-blanco);
}
#third__card .learn__more__button {
  background-color: #ff878a;
  color: var(--color-blanco);
}
#fourth__card .learn__more__button {
  background-color: #2764e7;
  color: var(--color-blanco);
}

.swiper-container {
  position: relative; /* Asegura que los controles se posicionen dentro del swiper */
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute; /* Los controla para que estén fijos dentro del swiper */
  top: 50%; /* Centra los botones verticalmente */
  transform: translateY(
    -50%
  ); /* Ajusta el desplazamiento para centrar completamente */
  z-index: 10; /* Asegura que los controles estén encima de los slides */
  color: #a4a1a1 !important;
  width: 20% !important;
}

/* YOUR LEVEL */
.your__level {
  width: 100%;
  background-image: url("/assets/Group-643.webp");
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;
}

.your__level h2 {
  color: var(--color-blanco);
  font-size: 4.4rem;
  margin: 54px 0;
}

.your__level h2 span {
  color: var(--color-amarillo);
}

.your__level {
  padding: 58px 500px 200px 85px;
  margin-bottom: 0;
}

.your__level__container {
  min-width: 620px;
  width: 100%;
  overflow: visible;
}

.your__level p {
  color: var(--color-blanco);
  font-size: 2rem;
  max-width: 500px;
  width: 100%;
  font-weight: bold;
  margin-bottom: 77px;
}
.your__level button {
  border: none;
  background-color: var(--color-amarillo);
  padding: 10px 40px;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* free class */

.free_class {
  min-height: 322px;
  height: 100%;
  background-color: var(--color-blanco-bajo); /* Color de fondo de la sección */
  clip-path: polygon(
    100% 0,
    100% 50%,
    0 75%,
    0 0
  ); /* Ajuste para evitar que el texto se corte */

  text-align: center;
  padding: 3%;
}

.free_class__container {
  background-image: url("/assets/Rectangle86.webp");
  background-size: contain; /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;
  max-width: 509px;
  width: 100%;
  padding: 0.5rem;
  text-align: start;
  margin: auto;
}
.free_class__container h2 {
  font-size: 3rem;
  margin-bottom: 2%;
}

.free_class__container P {
  margin-bottom: 2%;
}
.free_class__container P {
  margin-bottom: 2%;
}

.free_class button {
  border: none;
  background-color: var(--color-verde);
  color: var(--color-blanco);
  padding: 15px 60px;
  border-radius: 20px;
  margin-bottom: 3%;
}

@media (max-width: 993px) {
  .menu {
    display: none;
  }
  .menu__burger {
    display: block;
  }
}
@media (max-width: 569px) {
  .menu__sigin__button {
    max-width: 100px;
    font-size: 1rem;
  }
  .navbar__container {
    gap: 3%;
  }
}
@media (max-width: 425px) {
  .logo {
    width: 100%;
    height: auto;
  }
}

/* ANIMACIONES */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes student {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes squaregreen {
  0% {
    transform: rotate(0deg); /* Posición inicial */
  }
  25% {
    transform: rotate(45deg); /* Gira 45° a la derecha */
  }
  50% {
    transform: rotate(-90deg); /* Gira 90° a la izquierda */
  }
  75% {
    transform: rotate(0deg); /* Regresa a la posición inicial */
  }
}